In [92]:
# with open ver lo que hay en el documento
with open("/Users\danig\Desktop/IBM programs/Python Data Science/Python basics for Data Science/Prueba.txt","r") as file1:
    file_cosas=file1.read()
    print(file_cosas)

hola
que
tal
estas
tu
hola

In [95]:
with open("/Users\danig\Desktop/IBM programs/Python Data Science/Python basics for Data Science/Prueba.txt","r") as file1:
    primera_linea=file1.readline()
    print(primera_linea)
    segunda_linea=file1.readline()
    print(segunda_linea)

hola

que

In [122]:
# Da igual lo que pongas como variable, siempre va a pintar la linea de despues
with open("/Users\danig\Desktop/IBM programs/Python Data Science/Python basics for Data Science/Prueba.txt","r") as file1:
    x=file1.readline()
    print(x)
    x=file1.readline()
    print(x)

This is line 1

This is line 2

In [123]:
with open("/Users\danig\Desktop/IBM programs/Python Data Science/Python basics for Data Science/Prueba.txt","r") as file1:
    x=file1.readline(16)
    print(x)
    z=file1.readline(5)
    print(z)
    y=file1.readline(9)
    print(y)

This is line 1

This
is line 2

In [24]:
# Pandas:

import pandas as pd

ufo=pd.read_csv('http://bit.ly/uforeports')
ufo.head(3)

ufo.loc[0,:]

ufo.loc[[0,1,2],:]

ufo.loc[0:2,:]

ufo.loc[0:2,["City", "State"]]

ufo.loc[0:2,"City":"State"]



ufo.iloc[:,[0,3]]

ufo.iloc[0:2,0:4]

          City Colors Reported Shape Reported State
0       Ithaca             NaN       TRIANGLE    NY
1  Willingboro             NaN          OTHER    NJ

In [30]:
# whit open write:
# w create a new file
Lines=["This is line A \n","This is line B \n","This is line C \n"]
with open("/Users\danig\Desktop/IBM programs/Python Data Science/Python basics for Data Science/Prueba_escritura.txt","w") as file1:
    for i in Lines:
        file1.write(i)

# a to append sth to an existing file
with open("/Users\danig\Desktop/IBM programs/Python Data Science/Python basics for Data Science/Prueba_escritura.txt","a") as file1:
    file1.write("This is line 4 \n")
    file1.write("This is line 5 \n")

In [62]:
import pandas as pd
songs={'Album':['Thriller','Back in Black','The Dark Side of the Moon'], 'Released':[1982,1980,1973],
      'Length':['00:42:19','00:42:11','00:42:49']}
songs_frames=pd.DataFrame(songs) # Create a data frame out of a dictionary
print(songs_frames)
x=songs_frames[['Length']]
print(x)

y=songs_frames[["Album","Released","Length"]]
print(y)

#Prueba sin usar nombres
z=songs_frames[0:2]
print(z)





""""csv_path="files1.csv"
df=pd.read_csv(csv_path) # data in a dataframe
df.head() """

                       Album  Released    Length
0                   Thriller      1982  00:42:19
1              Back in Black      1980  00:42:11
2  The Dark Side of the Moon      1973  00:42:49
     Length
0  00:42:19
1  00:42:11
2  00:42:49
                       Album  Released    Length
0                   Thriller      1982  00:42:19
1              Back in Black      1980  00:42:11
2  The Dark Side of the Moon      1973  00:42:49
           Album  Released    Length
0       Thriller      1982  00:42:19
1  Back in Black      1980  00:42:11
[1982 1980 1973]

'"csv_path="files1.csv"\ndf=pd.read_csv(csv_path) # data in a dataframe\ndf.head() '

In [52]:
import pandas as pd

tabla=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})
print(tabla)

# Plot the first three rows:
print(tabla.head(3))


# Obtain column 'a'
tabla['a']

    a   b
0  11  21
1  21  22
2  31  23
    a   b
0  11  21
1  21  22
2  31  23

0    11
1    21
2    31
Name: a, dtype: int64

In [2]:
#method unique()

import pandas as pd

años={'Released': [1982,1980,1973,1992,1977,1976,1977,1977]}

años_data=pd.DataFrame(años)

print(años_data)

print(años_data['Released'].unique())

print(años_data['Released']>=1980)

años_data.to_csv('canciones_años')

   Released
0      1982
1      1980
2      1973
3      1992
4      1977
5      1976
6      1977
7      1977
[1982 1980 1973 1992 1977 1976]
0     True
1     True
2    False
3     True
4    False
5    False
6    False
7    False
Name: Released, dtype: bool
   Released
0      1982
1      1980
2      1973
3      1992
4      1977
5      1976
6      1977
7      1977

In [ ]:
# share link IBM Watson Studio

https://eu-gb.dataplatform.cloud.ibm.com/analytics/notebooks/v2/ac8dd7df-6c96-4ed8-8600-bcf19857529b/view?access_token=582b5ac7713295ec082a419ecf1297b18f04e9dc51479ae0fd2facf735b05a92